.about_me{
    width:100%;
    height:600px;
    border:none;
    background-color: #2c3e50;
    color:#ffd700;
}
.about_me article p{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 5 auto;
    padding: 5px ;
}
.about_me h2{
    /* padding-top: 1em; */
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.about_mecon{
    width: 50%;
    height:400px;
    padding: 15px ;
    margin: 0 auto;
}
.about_mecon td {
  text-align:justify; /* or left, right, center, etc. */
}

/* name */

.name{
    width: 100%;
    height: auto;
    background-color: #2e3d4d;
    color: #ffd700;
}
.name:hover{
    background-color: #2c3e50;
}

.name td{
  transition: transform 0.5s ease-in-out;
}

.name td:hover{
  transform: scale(0.855);
}





/* skills ans expertise */

.skills{
  background-color: #394e61;
  width: 33.3%;
  text-align:left;
  border: 1px solid #FFFFFF;
}
.skills ul li{
  font-size: 20px;
}
.skillsandexpertise{
  width: 100%;
  height: 350px;
  background-color: #2b3947;
  color:#ffd700;
}

.skillsandexpertise h2{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
}

.skillstransition{
  transition:transform 0.5s ease-in-out;
}
.skills:hover{
  transform: scale(0.9);
}



/* getintouch */
.getintouchtable{
  width: 100%;
  text-align: center;
  height: 400px;
  background-color: #2e3d4d;
  color: #ffd700;
}

/* .getintouchsocials{
  margin: 0px auto;
} */

.getintouchcon{
  width:55%;
  height:300px;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgb(218, 214, 0.1);
  border-radius: 10px;
}

.about_me_art{
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(218, 214, 0.1);
  transition: transform 0.5s ease-in-out;
}
.about_me_art:hover{
    transform: scale(1.2);
}
.getintouchtable h1{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}

.getintouchtable h3{
  font-size: 12pt;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.getintouchtable p{
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family:Arial, Helvetica, sans-serif;
}

/* .getintouchtable p:hover{
  color: #ffd700;
} */

.getintouchtable i{
  font-size: 15pt;
  font-weight: bolder;
}

.getintouchtd:hover {
  transform: scale(1.1);
}

.getintouchtd{
  color:#ffd700;
  transition: transform 0.5s ease-in-out
}

/*
marquee h3 {
  animation: marquee 5s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(100%);
  }
} */

footer table {
  width: 100%;
  height:100px;
  /* border: 1px solid #ffd700 ; */
  background-color: #373e46;
}

footer table td p{
  text-align: center;
  margin: 2 auto;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #ccb73e;
  font-style: oblique;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
