/* .mycontainer {
  width: 30%;
} */
.mycontainer div {
  width: 33%;
  display: inline-block;
}
.Rome{
    background-color: red;
    text-align: center;
    color: white;
}
.London{
    background-color:black;
    color: white;
    text-align: center;
}
.Oslo{
    background-color: chartreuse;
    text-align: center;
    color: black;
}


/* .mycontainer {
  width: 30%;
} */
.connection div {
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-rows: 33% 33% 33%;
}
.about{
    background-color: red;
    text-align: center;
    color: white;
}
.profession{
    background-color:black;
    color: white;
    text-align: center;
}
.Oslo1{
    background-color: chartreuse;
    text-align: center;
    color: black;
}




.loader {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader span {
  animation: loading 1s;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}